@font-face {
  font-family: "league_gothicregular";
  font-weight: normal;
  font-style: normal;

  src: url("../fonts/leaguegothic-regular-webfont.eot");
  src: url("../fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-regular-webfont.woff2") format("woff2"), url("../fonts/leaguegothic-regular-webfont.woff") format("woff"), url("../fonts/leaguegothic-regular-webfont.ttf") format("truetype");
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "league_gothicregular", sans-serif;
}

ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}


.center-width {
  width: 980px;
  margin: 0 auto;
  padding: 0 10px;
}


/*HEADER*/
.navigation {
  text-shadow: 2px 1px 1px #585858;
}
.head {
  padding-top: 70px;
  padding-bottom: 167px;
  border-bottom: 1px solid #33253a;
  background: url(../img/header.jpg);
}
.firm {
  float: left;
  width: 170px;
  font-size: 48px;
  color: #fff;
}
.firm span {
  color: #724f81;
}
.nav {
  float: right;
  margin-bottom: 162px;
  padding: 0;
}
.menu-mobile1 {
  display: none;
}
.menu li {
  display: inline-block;
}
.menu li a {
  display: block;
  padding: 14px 23px;
  font-size: 24px;
  color: #fff;
}
.menu li a:hover {
  opacity: 0.5;
}
/*CENTER HEADER*/
.head-bg {
  padding: 76px 0 79px;
  background: rgba(0, 0, 0, 0.2);
}
.main-description {
  position: relative;
  padding: 0 435px 0 0;
}

.main-img-320 {
  display: none;
}

.main-img {
  position: absolute;
  top: -100px;
  right: 70px;
}

.main-play {
  position: absolute;
  top: 50px;
  right: 130px;
}

.center-header-title {
  font-size: 60px;
  color: #fff;
}

.center-header-mean {
  margin: 0;
  padding: 0;
  font-size: 25px;
  color: #edbfff;
}

.center-header-article {
  font-family: "Open Sans";
  font-size: 16px;
  color: #fff;
}

/*ABOT COMPANY*/
.about-company {
  padding: 70px 0 68px;
  border-top: 1px solid #33253a;
  border-bottom: 1px solid #0d151b;
  background: linear-gradient(to bottom, #745083 0%, #6f4d7d 10%, #5e426a 20%, #543b5f 50%, #422f4b 70%, #33263b 100%);
}

.company-items {
  position: relative;
  float: left;
  width: 207px;
  margin-right: 54px;
  padding-left: 64px;
}
.one:after,
.two:after,
.three:after {
  position: absolute;
  top: 12px;
  left: 11px;

  width: 29px;
  height: 29px;

  background: url("../img/spritesheet.png");

  content: "";
}

.one:after {
  background-position: -34px 0;
}

.two:after {
  background-position: 34px 0;
}
.three:after {
  background-position: 0 0;
}
.company-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: #fff;
}
.company-article {
  margin: 12px 0 25px;
  font-family: "Open-Sans", Arial, sans-serif;
  font-size: 16px;
  color: #fff;
}
.company-read-more {
  display: inline-block;
  float: right;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
.company-read-more:hover {
  opacity: 0.5;
}

/*USERS COMMENT*/
.users {
  padding: 92px 0 91px;
  border-top: 1px solid #f9f9f9;
  border-bottom: 1px solid #e6e6e6;
  background: linear-gradient(to bottom, #c6c6c6 0%, #d4d4d4 2%, #ededed 4%, #f9f9f9 100%);
}

.comment {
  position: relative;

  float: left;
  width: 427px;
  margin-left: 32px;
  padding: 30px;

  background: #fff;
}

.user-photo {
  position: absolute;
  top: 24px;
  left: -31px;
}
.user-title {
  font-size: 30px;
  color: #454545;
}

.user-title2 {
  color: #edbfff;
}

.user-article {
  margin: 0;
  font-family: "Open-Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #686868;
}
.recent-updates {
  float: right;
  width: 450px;
  padding-top: 32px;
}
.updates-title {
  font-size: 30px;
  color: #454545;
}
.update {
  padding: 10px 0;
  overflow: hidden;
}
.update-img {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 18px;
  border-radius: 50%;
}
.update-link {
  display: block;
  font-family: "Open-Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: #454545;
  text-decoration: none;
}
.update-link:hover {
  opacity: 0.5;
}
.update-article {
  margin: 0;
  padding: 0;
  font-family: "Open-Sans", Arial, sans-serif;
  font-size: 16px;
  color: #454545;
}
.update-read-more {
  display: inline-block;
  float:right;
  font-size: 18px;
  color: #454545;
  text-align: right;
  text-transform: uppercase;
}
.update-read-more:hover {
  opacity: .5;
}

/*SPONSORS*/
.sponsors {
  margin: 0 auto;
  border-top: 1px solid #fefefe;
  border-bottom: 1px solid #fefefe;
  background: #f9f9f9;
  text-align: center;
}

.sponsors a {
  display: inline-block;
  padding: 25px 35px;
  vertical-align: middle;
}

.news-container {
  padding: 93px 0 70px;

  border-top: 1px solid #d8d8d8;
  background: #ececec;
}

.comments,
.copyright {
  float: left;
  width: 266px;
  margin-right: 60px;
}
.copyright-title {
  font-size: 48px;
  color: #454545;
  text-transform: uppercase;
}

.copyright-title span {
  color: #bcbcbc;
}

.copyright-copy {
  font-family: Georgia, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  color: #c5c5c5;
}

.copyright-article {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #787878;
}

.comments-title {
  font-size: 30px;
  color: #454545;
}

.comments-article {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #787878;
}

.footer {
  padding: 33px 0 25px;

  background: url(../img/footer.jpg);
  background-position: center center;
  background-size: cover;
  text-shadow: 2px 1px 1px #585858;
}

.menu-footer {
  float: left;
}

.menu-footer .menu li a {
  padding: 10px 20px;

  font-size: 21px;
  text-transform: uppercase;
}
.designer {
  float: right;
  margin: 17px 0;

  font-family: "Open-Sans", Arial, sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
}

.designer a {
  font-family: "Open-Sans", Arial, sans-serif;
  font-size: 12px;
  font-weight: 800;
  color: #fff;
}

.designer a:hover {
  opacity: 0.5;
}
footer {
  overflow: hidden;
}

.wrapper {
  display: table;
  width: 100%;
  height: 100%;
  overflow: hidden;
  table-layout: fixed;
}

.w1 {
  display: table-row;
  height: 100%;
}

.border-home {
  display: inline-block;
  padding: 5px 5px 0 5px;

  border-bottom: 2px solid #edbfff;
}
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
@media(max-width: 980px) {
  .center-width {
    width: 768px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .head {
    padding-bottom: 154px;
  }
  .firm {
    float: none;
    margin-bottom: 25px;
  }
  .nav {
    float: none;
    margin-bottom: 110px;
  }
  .menu li a {
    padding: 10px 14px;

    font-size: 19px;
  }
  .head-bg {
    padding: 95px 0 105px;
  }
  .main-description {
    padding: 0 400px 0 0;
  }
  .center-header-title {
    font-size: 44px;
  }
  .center-header-mean {
    font-size: 24px;
  }
  .center-header-article {
    font-size: 16px;
  }
  .main-img {
    position: absolute;
    top: -25px;
    right: 31px;
  }
  .main-play {
    position: absolute;
    top: 127px;
    right: 95px;
  }
  .company-items {
    width: 173px;
    margin-right: 28px;
    padding-left: 55px;
  }
  .company-title {
    font-size: 24px;
  }
  .comment {
    width: 312px;
    padding: 20px 10px 40px 30px;
  }
  .user-photo {
    position: absolute;
    top: 11px;
    left: -27px;
  }
  .user-title {
    padding-right: 170px;

    font-size: 24px;
  }
  .comment:after {
    display: none;

    content: "";
  }
  .recent-updates {
    margin: 0 auto;
    width: 382px;
  }
  .sponsors a {
    padding: 23px;
  }
  .comments,
  .copyright {
    width: 194px;
    margin-right: 58px;
  }
  .copyright__title {
    font-size: 38px;
  }
  .comments-title {
    font-size: 24px;
  }
  .designer {
    margin-top: 70px;
  }
}

@media(max-width: 768px) {
  .center-width {
    width: 480px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .head {
    padding-bottom: 100px;
  }
  .firm {
    margin: 0 auto;
  }
  .nav {
    text-align: center;
  }
  .nav .menu {
    display: none;
  }
  .menu-mobile1 {
    width: 191px;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .item-home a{
  display: block;
  font-size: 24px;
  color: #fff;
  margin: 0 auto;
}
.border-home {
  width: 40px;
  }
  ul.menu-mobile {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 0 auto;
    text-align: center;
}

ul.menu-mobile:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu-mobile > li {
    position: relative;
}
ul.menu-mobile > li > a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
ul.submenu {
  z-index: 1;
    display: none;
    position: absolute;
    left: 0;
    text-align: center;
    background: black;
    opacity: 0.8;
    border-radius: 12px;
    border: 1px solid black;
    padding-left: 0;
}
ul.submenu > li {
    display: block;
    padding: 0;
    margin: 0;
}
ul.submenu > li > a {
    display: block;
    padding: 10px 42px;
    color: white;
    text-decoration: none;
}
ul.submenu > li > a:hover {
  color: pink;
}
ul.menu-mobile > li:hover > ul.submenu {
    display: block;
}
  .head-bg {
    padding: 90px 0 85px;
  }
  .main-description {
    padding: 0 205px 0 0;
  }
  .main-img-320 {
    position: absolute;
    top: -100px;
    right: 12px;

    display: block;
  }
  .main-img {
    display: none;
  }
  .main-play {
    display: none;
  }
  .center-header-title {
    font-size: 40px;
  }
  .center-header-mean {
    font-size: 18px;
  }
  .center-header-article {
    display: none;
  }
  .company-items {
    float: none;
    width: 100%;
    margin-bottom: 25px;
  }
  .user-title {
    padding-right: 0;
  }
  .company-article {
    max-height: 53px;
    margin: 0 0 10px 0;
  }
  .comment {
    float: none;
    width: 412px;
    margin-left: 24px;
  }
  .recent-updates {
    margin-right: 30px;
  }
  .comments,
  .copyright {
    width: 100%;
    margin: 0 0 55px 0;
  }
  .menu-footer .menu li a {
    padding: 9px;
  }
  .menu-footer {
    margin-bottom: 10px;
  }
  .designer {
    float: none;
    margin: 0;

    text-align: center;
  }
  .footer {
    padding: 30px 0 60px 0;
  }
}

@media(max-width: 480px) {
  .center-width {
    width: 320px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .menu .menu li {
    display: none;
  }
  .head-bg {
    background: none;
  }
  .head-bg {
    padding: 85px 0;
  }
  .main-description {
    padding: 0;
    text-align: center;
  }
  .center-header-mean {
    font-size: 16px;
  }
  .main-img-320 {
    display: none;
  }
  .company-article {
    padding-right: 15px;
  }
  .comment {
    float: right;
    width: 255px;
    margin-left: 0;
    padding: 25px 35px;
  }
  .recent-updates {
    width: 100%;
    margin-right: 0;
  }
  .news-container {
    display: none;
  }
  .menu-footer {
    display: none;
  }
}
